:root {
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343A40;

    --hover:#e2aae0;
    
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.6rem;
    
}


.form{
    position: relative;
    top: 5rem;;
    width: 30rem;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    background: linear-gradient(#bd09b7, #6b4cf5);
    -webkit-box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.75);
    color: var(--blanco);
  
}

/*Bonus*/

@media (max-width: 499px){ 
    .form{
        width: 100%;
    }
}


.form__input{
    padding: .7rem;
    width: 100%;
    margin-bottom: 2rem;
    
    
}

.button{
   display: flex;
   justify-content: end;
   margin-top: 2rem;
}
.button__main{
    padding: .5rem 1.5rem;
    color: var(--negro);
    transition: all 0.8s;
}

.button__main:hover{
    background-color:var(--hover)
}

